.navlabel:hover{
    background-color: blueviolet;
    

}
.follow:hover{
    color:'#ffffff'
}
.mentor:hover{
    color:'blue'
}
div.news{background-color: brown;}

.message:focus{
    outline: none;
}

  